{% if settings.installment == true %}
  {% liquid
    assign installment_number = settings.installment_number
    assign minimum_installment_value = settings.minimum_installment_value | times: 100
  %}
  {{ installment_number }}
  {{ minimum_installment_value }}
  <div class="res-installments">
    {% for number in (2..installment_number) reversed %}
      {% assign installment_value = tp_price | divided_by: number %}
      {% if installment_value >= minimum_installment_value %}
            Em até {{ number }}x de {{ installment_value | money_with_currency | remove: 'BRL' | strip }}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
