<style>
  /* Container principal */
  .reviews-section {
   /* background-color: #000;  dark:bg-black */
  }

  .container {
    padding-top: 2.5rem;   /* lg:py-10 */
    padding-bottom: 2.5rem;
  }

  @media (min-width: 1024px) {
    .container {
      padding-top: 4rem;   /* min_lg:py-16 */
      padding-bottom: 4rem;
    }
  }

  /* Rating block */
  .ts-v-stars {
    position: relative;
    width: 137px;
  }

  .ts-v-stars-background {
    display: flex;
    width: 137px;
  }

  .ts-v-stars-foreground {
    position: absolute;
    top: 0;
  }

  .ts-v-stars-foreground span {
    display: flex;
    overflow: hidden;
  }

  .ts-v-stars-foreground svg {
    min-width: 1.5rem; /* min-w-6 */
  }

  /* Wrapper título */
  .wrapper-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1.5rem;
  }

  @media (max-width: 768px) {
    .wrapper-title {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .wrapper-title h4 {
    color: #2c2c2c;
    font-size: 1.25rem;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .wrapper-title h4 {
      font-size: 1.125rem;
    }
  }

  /* Select */
  .select {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .select select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #6c6c6c;
  }

  /* Load more button */
  #load-more-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  #load-more-reviews button {
    background: none;
    border: 1px solid #2c2c2c;
    color: #2c2c2c;
    font-size: 1.125rem;
    text-transform: uppercase;
    border-radius: 0.375rem;
    padding: 0.5rem;
    text-align: center;
  }

  /* Footer */
  .ts-v-footer-container {
    display: flex;
    align-items: center;
    color: inherit;
  }

  /* Percentage circle */
  .ts-v-percentage-circle {
    height: 66px;
    width: 66px;
  }

  /* Dark mode overrides */
  @media (prefers-color-scheme: dark) {
    .reviews-section {
      background-color: #000;
    }

    .ts-product-reviews {
      background-color: #000;
    }

    .ts-v-rating,
    .ts-v-recommendations,
    .wrapper-title h4,
    .select label,
    #load-more-reviews button,
    .ts-v-footer-container {
      color: #fff;
    }

    #load-more-reviews button {
      border-color: #fff;
    }
  }
</style>

<section id="reviews-sec">
  <div class="container">
    <div data-trustvox-certificate-fixed="data-trustvox-certificate-fixed"></div>
    <div id="_sincero_widgets" class="trustvox-widget">
      <div class="ts-product-reviews">
        <div>
          <section class="ts-product-reviews-overview">
            <section class="ts-information-and-survey-result ts-block-one ts-block-three" data-v-99089b8c="">
              <div data-v-108cfa34="" data-v-99089b8c="" class="ts-v-rating ts-block-one">
                <div data-v-108cfa34="" class="ts-v-rating-note">
                  <span data-v-108cfa34="" class="ts-v-rating-note_value custom-rating-note--js"> 4.8 </span>
                  <span data-v-108cfa34="" class="ts-v-rating-note_of"> /<span data-v-108cfa34="">5</span></span>
                  <meta data-v-108cfa34="" content="1">
                </div>
                <div data-v-108cfa34="" class="ts-v-rating_label">Nota do produto</div>
                <div data-v-108cfa34="" class="ts-v-rating__align">
                  <div data-v-61babeba="" data-v-108cfa34="" class="ts-v-stars">
                    <span data-v-61babeba="" class="ts-v-stars-background">
                      <!-- SVGs de fundo (cinza) -->
                      <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ddd" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                      <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ddd" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                      <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ddd" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                      <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ddd" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                      <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ddd" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                    </span>
                    <span data-v-61babeba="" class="ts-v-stars-foreground">
                      <span data-v-61babeba="" class="custom-star-bg--js">
                        <!-- SVGs coloridos (amarelo) -->
                        <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ffc400" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                        <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ffc400" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                        <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ffc400" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                        <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ffc400" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                        <svg data-v-61babeba="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 512 512"><path data-v-61babeba="" fill="#ffc400" d="M457.888 210.672l-139.504-20.272-62.384-126.4-62.384 126.4-139.504 20.272 100.944 98.384-23.84 138.928 124.768-65.6 124.768 65.6-23.84-138.928c0 0 100.944-98.384 100.944-98.384z"></path></svg>
                      </span>
                    </span>
                  </div>
                </div>
                <div data-v-108cfa34="" class="ts-v-rating-based-on">
                  Baseado em
                  <span data-v-108cfa34="" class="custom-based-on--js"> 5 </span> avaliações
                </div>
              </div>
              <div data-v-99089b8c="" class="ts-block-three ts-repro-center">
                <div data-v-99089b8c="" class="ts-product-reviews-overview-recommendations">
                  <div data-v-f73f7d96="" class="ts-v-recommendations">
                    <div data-v-f73f7d96="" class="ts-v-recommendations_percentage">
                      <svg data-v-f73f7d96="" height="66" width="66" class="ts-v-percentage-circle">
                        <circle data-v-f73f7d96="" stroke-width="5" fill="transparent" r="28" cx="32" cy="32" class="ts-v-circle-baseline"></circle>
                        <circle data-v-f73f7d96="" stroke-dasharray="175.92918860102841 175.92918860102841" stroke-width="5" fill="transparent" r="28" cx="32" cy="32" class="ts-v-circle-mainline custom--circle-percentage--js" style="stroke-dashoffset: 0px;"></circle>
                      </svg>
                      <span data-v-f73f7d96="" class="ts-v-percentage-label custom-percentage--js-reviews"> 100% </span>
                    </div>
                    <span data-v-f73f7d96="" class="ts-v-recommendations_text">
                      dos clientes recomendam este produto
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <section class="custom-wrapper-reviews">
            <div class="wrapper-title">
              <h4>Avaliações mais recentes</h4>
              <div class="select">
                <label for="filter-reviews">exibindo:</label>
                <select name="" id="filter-reviews" onchange="filterReviews(event.target.value)">
                  <option value="most-recent">Mais recentes</option>
                  <option value="positive">Positivas</option>
                  <option value="negative">Negativas</option>
                  <option value="worth">Mais úteis</option>
                </select>
              </div>
            </div>
            <div id="reviews-container"></div>
            <div id="load-more-reviews">
              <button>Carregar mais</button>
            </div>
            <div data-v-55f06c67="" data-v-4b08f0d5="" class="ts-v-footer">
              <a data-v-55f06c67="" href="https://site.trustvox.com.br/conheca-a-trustvox?utm_source=widget-rareviews&utm_medium=quizz&utm_campaign=nutriage.com.br" target="_blank" class="ts-v-footer-container">
                <img data-v-55f06c67="" title="RA Icone" src="https://static.trustvox.com.br/sincero/img/ra-icon.svg" class="ts-v-footer-icon ts-icon">
                Avaliações confiáveis do
                <img data-v-55f06c67="" title="Reclame Aqui" src="https://static.trustvox.com.br/sincero/img/logo-reclameaqui.svg" class="ts-v-footer-logo ts-logo">
              </a>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div id="_trustvox_colt"></div>
  </div>
</section>

{%  schema %}
{
    "name": "TrustVox",
    "settings": []
}
{%  endschema %}